[Desktop Entry]
Type=Application
Name=PFS Module Manager
Name[ar]=مدير وحدات PFS
Name[cs]=Správce modulů PFS
Name[de]=PFS-Modul-Manager
Name[en]=PFS Module Manager
Name[es]=Administrador de módulos PFS
Name[fr]=Gestionnaire de modules PFS
Name[it]=Gestore moduli PFS
Name[ja]=PFS モジュール マネージャー
Name[nl]=PFS-modulebeheerder
Name[pl]=Menedżer modułów PFS
Name[pt]=Gestor de Módulos PFS
Name[pt_BR]=Gerenciador de Módulos PFS
Name[ru]=Менеджер модулей PFS
Name[tr]=PFS Modül Yöneticisi
Name[uk]=Менеджер модулів PFS
Name[zh_CN]=PFS 模块管理器
Name[zh_TW]=PFS 模組管理員
Comment=Load and unload pfs modules
Comment[ar]=تحميل وإفراغ وحدات pfs
Comment[cs]=Načíst a uvolnit pfs moduly
Comment[de]=PFS-Module laden und entladen
Comment[en]=Load and unload pfs modules
Comment[es]=Cargar y descargar módulos pfs
Comment[fr]=Charger et décharger des modules pfs
Comment[it]=Carica e scarica moduli pfs
Comment[ja]=pfs モジュールを読み込み/解放
Comment[nl]=PFS-modules laden en ontladen
Comment[pl]=Ładuj i zwalniaj moduły pfs
Comment[pt]=Carregar e descarregar módulos pfs
Comment[pt_BR]=Carregar e descarregar módulos pfs
Comment[ru]=Подключение и отключение pfs-модулей
Comment[tr]=pfs modüllerini yükle ve kaldır
Comment[uk]=Підключення та відключення pfs-модулів
Comment[zh_CN]=加载和卸载 pfs 模块
Comment[zh_TW]=載入和卸載 pfs 模組
Exec=modman-gui
Icon=package-x-generic
Terminal=false
Categories=System;
StartupNotify=true
